#popup-send .popup-appointmetn__info {    
    margin-top: 64px;
}

#popup-send .title {    
    display: none;
}

#popup-send {
	pointer-events: none!important;
}

#popup-send .popup-appointmetn__content {
    padding-bottom: 0;
    max-width: 500px;
}


#popup-send .popup-appointmetn__info {    
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; 
    z-index: 15;
}

.wpcf7-response-output {
	display: none;
}

